@font-face {
	src: url('img/font.ttf');
	font-family: '강한육군 Bold';
}

* {
	font-family: '강한육군 Bold', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(#81CAEA, #B3DFF3, #81CAEA);
	background-repeat: none;
	position: relative;
	text-align: center;
}

button {
	border: 1px solid #3f3f3f;
	border-radius: 4px;
}

#makers {
	position: fixed;
	bottom: 100px;
	right: 100px;
	font-size: 25px;
}

#login {
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
}

#login-container {
	width: 100%;
	height: 1000px;
	margin: 150px auto;
	padding-left: 200px;
	position: relative;
}

#content-container {
	height: fit-content;
	text-align: left;
	padding: 30px;
	margin: 100px auto;
	font-size: 50px;
}

#content-container > h3 {
	font-size: 100px;
	display: inline-block;
	margin: 10px auto;
	vertical-align: center;
}

#content-container > p > input {
	width: 300px;
	height: 30px;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	border: 2px solid #000000;
	background-color: white;
	color: black;
}

#content-container > p > button {
	width: 100px;
	height: 55px;
	font-size: 30px;
	border: 2px solid #000000;
	background-color: white;
	color: black;
}

#login-container:before {
	background-image: url('./img/geoje.jpg');
	top: 0;
	left: 600px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.4! important;
	filter: alpha(opacity=40);
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
}

#flex-container {
	width: 100%;
	height: 2000px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}

#left-nav {
	background-color: white;
	width: 400px;
	height: fit-content;
	border: 4px solid blue;
	position: fixed;
	top: 35px;
	left: 25px;
	z-index: 5;
}

#operation-container {
	width: 320px;
	height: 450px;
	border: 4px solid green;
	padding: 10px;
	margin: 20px auto;
	overflow: scroll;
}

.operation-contents {
	width: 300px;
	height: fit-content;
	margin: 10px auto;
	border: 4px dotted black;
}

.operation-contents > p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px 10px 0;
}

.operation-group {
	width: 280px;
	height: fit-content;
	margin: 15px auto;
}

.operation-filter {
	border: 4px solid grey;
	background-color: #eee;
	font-size: 18px;
	font-weight: bold;
	display: block;
	width: 80%;
	padding: 10px;
	margin: 5px auto;
}

#time-container {
	width: 320px;
	height: 120px;
	border: 4px solid blue;
	padding: 10px;
	margin: 20px auto 10px auto;
}

#text-container {
	width: 300px;
	height: 80px;
}

#text-container  > p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

#text-container  > div > p {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin: 10px 0;
}

#text-container  > div > p >input {
	width: 250px;
	height: 25px;
}

#btn-container {
	width: 340px;
	height: 60px;
	border: 4px solid red;
	margin: 10px auto 0 auto;
}

#btn-container > button {
	width: 120px;
	height: 40px;
	font-size: 30px;
	margin: 10px 20px;
}

#op-create-open-btn-container {
	width: 340px;
	height: 40px;
	border: 4px solid black;
	margin: 10px auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

#op-create-open-btn {
	display: block;
	margin: auto auto;
	width: 280px;
	height: 40px;
	font-size: 30px;
}

#operation-create {
	width: 700px;
	height: fit-content;
	border: 4px solid black;
	margin: 40px auto;
	padding: 20px;
}

#operation-create > p {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}

#operation-create > div > p {
	font-size: 40px;
	font-weight: bold;
	margin-top: 5px;
	text-align: left;
	padding-left: 15px;	
}

#operation-create > div > p > input {
	height: 40px;
	font-size: 20px;
}

#operation-create > div > p > select {
	height: 40px;
	font-size: 20px;
}

#operation-create > button {
	font-size: 30px;
	width: 100px;
	height: 40px;
	margin: 10px auto;
}

#place-list > span {
	margin: 8px;
	width: 20px;
	height: 20px;
	font-size: 30px;
	word-break: keep-all;
}

#place-list-checkbox {
	width: 25px;
	height: 25px;
}

#floating-nav-bar {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: -1px;
	left: 418px;
	font-weight: bold;
}

#user-helper {
	height: fit-content;
	margin: 10px 0;
	font-size: 20px;
	text-align: left;
	line-height: 150%;
}

.keyboard-deco {
	display: inline-block;
	width: 50px;
	height: 30px;
	font-size: 20px;
	background-color: black;
	border-radius: 10px;
	color: white;
	padding: 10px 0;
	text-align: center;
	margin: 3px 0;
}

#line-category {
	width: 330px;
	height: fit-content;
	border: 4px solid black;
	background-color: white;
	z-index: 1;
	text-align: center;
	padding: 5px;
	font-size: 25px;
	margin: 10px auto;
}

#line-category > hr {
	width: 130px;
	display: inline-block;
}

#line-category > p {
	display: inline-block;
	line-height: 150%;
}

#green-line {
	background-color: green;
	border: 10px solid green;
}

#blue-line {
	background-color: blue;
	border: 10px solid blue;
}

#red-line {
	background-color: red;
	border: 10px solid red;
}

#grey-line {
	background-color: grey;
	border: 10px solid grey;
}

#black-line {
	background-color: black;
	border: 10px solid black;
}

#op-create-modal {
	background-color: white;
	width: 800px;
	height: fit-content;
	border: 4px solid blue;
	position: fixed;
	top: 35px;
	left: 800px;
	z-index: 10;
	cursor: move;
}

#map {
	width: 1300px;
	height: 2000px;
	position: relative;
}

#map-cliff {
	width: 1300px;
	height: 2000px;
	background-image: url('./img/cliff.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

#map-picture {
	width: 1300px;
	height: 2000px;
	background-image: url('./img/map.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.coast-line {
	background-image: url('./img/coast-line.png');
	position: absolute;
	overflow: hidden;
}

#harbor-layer {
	width: 1300px;
	height: 2000px;
	position: absolute;
	z-index: 0;
}

.harbor-container {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	z-index: 1;
}

.cctv-container {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	z-index: 4;
}

.text-tag {
	width: 50px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid orange;
	background-color: rgba(255,255,0,0.7);
	font-size: 10px;
	font-weight: bold;
	z-index: 3;
}

#right-nav {
	background-color: white;
	width: 400px;
	height: 90%;
	border: 4px solid blue;
	position: fixed;
	top: 40px;
	right: 25px;
	z-index: 5;
	overflow: scroll;
	padding: 0 10px;
}

#file-loader {
	font-size: 20px;
	width: 80%;
	margin: 20px auto 10px auto;
}

#file-saver {
	font-size: 20px;
	padding: 3px 18px;
}

.operation-cards {
	width: 320px;
	height: fit-content;
	border: 4px dashed black;
	margin: 10px auto;
	padding: 15px;
	position: relative;
}

.operation-cards > p {
	font-size: 17px;
	line-height: 140%;
	text-align: left;
}

.operation-eraser {
	width: 50px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 15px;
}

.modal {
	background-color: rgba(0,0,0,0.6);
	padding: 5px;
	font-size: 25px;
	font-weight: normal;
	color: white;
	position: absolute;
	width: max-content;
	height: max-content;
	display: flex;
	z-index: 10;
	filter: none;
}

.checked {
	border-color: blue;
}

.display-none {
	display: none;
}

.bold {
	font-weight: bold;
}

.a-red {
	filter: invert(13%) sepia(91%) saturate(7497%) hue-rotate(2deg) brightness(110%) contrast(114%);
	z-index: 0;
}

.b-grey {
	filter: invert(13%) sepia(6%) saturate(25%) hue-rotate(335deg) brightness(97%) contrast(80%);
	z-index: 0;
}

.c-black {
	filter: none;
	z-index: 0;
}

.d-blue {
	filter: invert(7%) sepia(99%) saturate(6777%) hue-rotate(246deg) brightness(121%) contrast(140%);
	z-index: 1;
}

.e-limegreen {
	filter: invert(61%) sepia(15%) saturate(2433%) hue-rotate(71deg) brightness(103%) contrast(88%);
	z-index: 1;
}

.yellow {
	filter: invert(99%) sepia(43%) saturate(7249%) hue-rotate(354deg) brightness(102%) contrast(104%) !important;
	z-index: 1;
}